
/* CONFIGURACOES GERAIS */

* {
	font-family: 'Roboto-Regular', sans-serif;
}

html {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #013974;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #b3995d; 
}

::-webkit-scrollbar-thumb:hover {
  background: #a68e56; 
}

::-webkit-scrollbar-thumb:active {
  background: #998350; 
}

/* CONFIGURACOES GERAIS */

/* CONFIGURACOES DO CONTEUDO */

.wrapper {
	display: flex;
	flex-direction: column;
	padding: 1vh 2vh;
	border-radius: 5px;
	box-shadow: 0 0 5px #000;
	background-color: white;
}

/* CONFIGURACOES DO CONTEUDO */

/* CONFIGURACOES DO TEXTO DO TOPO */
.erro {
	text-align: left;
	width: 100%;
}

.titulo {
	font-size: 5vh;
}

/* CONFIGURACOES DO TEXTO DO TOPO */

/* CONFIGURACOES DOS BOTOES */
.mainbtn {
	font-family: 'Roboto-Medium', sans-serif;
	background-color: #013974;
	color: white;
	padding: 1.5vh 1.5vh;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
}

.button1 {
	font-size: 3vh;
	margin: 0.5vh 0;
}

.button1:hover {
	background-color: #013266;
}

.button1:active {
	background-color: #012c59;
}
/* CONFIGURACOES DOS BOTOES */