<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width">
		
		<title>Acesso Negado</title>
		
		<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/404.css">
	</head>
	<body>
		<div class="wrapper">		
			<div class="erro">
				<label class="titulo">Ops! Parece que você não tem permissão para acessar essa página.</label><br><br><br>				
			</div>

			<a href="/"><button class="mainbtn button1">Volte para o login!</button></a>
		</div>
	</body>
</html>