<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width">
		
		<title>Cadastro de Alunos</title>
		
		<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/cadastro.css">
	</head>
	<body>
		<div class="wrapper">		
			<div class="cadastroTopo">
				<label class="titulo">Empréstimo</label><br/>
				<label class="subtitulo">Insira as informações do novo empréstimo.</label><hr/>				
			</div>
			
			<form class="form" action="/bibliotecario/cadastroEmprestimo" method="post">

				<input type="text" name="cpf" class="inputText" placeholder="CPF do Aluno" data-inputmask="'mask': '999.999.999-99'" required>
				<input type="text" name="isbn" class="inputText" placeholder="ISBN" data-inputmask="'mask': '9999999999'" required>
				
				<br><br>
				
				<label for="data_emprestimo">Data empréstimo:</label>
				<input type="date" id="data_emprestimo" name="data_emprestimo" class="inputText" readonly>
				
				<label for="data_devolucao">Data devolução:</label>
				<input type="date" id="data_devolucao" name="data_devolucao" class="inputText" readonly>
				
				<label for="data_devolucao">Renovações disponíveis:</label>
				<input type="number" id="renovacao" name="renovacao" value="3" class="inputText" readonly>
				
				<input type="submit" class="mainbtn button1" value="Empreste">
			</form>

			<a href="/bibliotecario/listarEmprestimos"><button class="mainbtn button1">Lista Empréstimos</button></a>
		</div>
		
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/assets/inputmask/jquery.inputmask.min.js}"></script>
		
		<script>
		    $(":input").inputmask();
		    
		    var date = new Date(); 
		    document.getElementById('data_emprestimo').valueAsDate = date;
		    
		    date.setDate(date.getDate() + 7);
		    document.getElementById('data_devolucao').valueAsDate = date;
		</script>
	</body>
</html>