<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width">
		
		<title>Cadastro de Livros</title>
		<link rel="stylesheet" type="text/css" href="/css/cadastro.css">
	</head>
	<body>
		<div class="wrapper">		
			<div class="cadastroTopo">
				<label class="titulo">Cadastro</label><br/>
				<label class="subtitulo">Insira as informações do novo livro.</label><hr/>				
			</div>
			
			<form class="form" action="/bibliotecario/cadastroLivro" method="post" th:object="${livro}">
				<input type="hidden" th:field="*{idLivro}"/>
				
				<div th:if="${#fields.hasErrors()}" class="erros">
					<span th:if="${#fields.hasErrors('titulo')}">Título inválido:</span>
					<span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"/>
					<span th:if="${#fields.hasErrors('titulo')}"><br/></span>
					
					<span th:if="${#fields.hasErrors('imagem')}">Imagem inválida:</span>
					<span th:if="${#fields.hasErrors('imagem')}" th:errors="*{imagem}"/>
					<span th:if="${#fields.hasErrors('imagem')}"><br/></span>
					
					<span th:if="${#fields.hasErrors('autor')}">Autor inválido:</span>
					<span th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}"/>
					<span th:if="${#fields.hasErrors('autor')}"><br/></span>
					
					<span th:if="${#fields.hasErrors('isbn')}">ISBN inválido:</span>
					<span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"/>
					<span th:if="${#fields.hasErrors('isbn')}"><br/></span>
					
					<span th:if="${#fields.hasErrors('categoria')}">Categoria inválida:</span>
					<span th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"/>
					<span th:if="${#fields.hasErrors('categoria')}"><br/></span>
					
					<span th:if="${#fields.hasErrors('volume')}">Volume inválido:</span>
					<span th:if="${#fields.hasErrors('volume')}" th:errors="*{volume}"/>
					<span th:if="${#fields.hasErrors('volume')}"><br/></span>
					
					<span th:if="${#fields.hasErrors('quantidade')}">Quantidade inválida:</span>
					<span th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}"/>
					<span th:if="${#fields.hasErrors('quantidade')}"><br/></span>
					
					<span th:if="${#fields.hasErrors('resumo')}">Resumo inválido:</span>
					<span th:if="${#fields.hasErrors('resumo')}" th:errors="*{resumo}"/>
					<span th:if="${#fields.hasErrors('resumo')}"><br/></span>
				</div>
				
				<input type="text" th:field="*{titulo}" class="inputText" placeholder="Título" maxlength="50">
				<select th:field="*{imagem}" class="inputText">
					<option th:value="'/img/livro/padrao.jpg'" th:text="'Escolha a imagem...'" th:selected="true"></option>
				 	<option th:value="'/img/livro/codigo_limpo.jpg'" th:text="'Código Limpo'"></option>
				 	<option th:value="'/img/livro/sistemas_operacionais_modernos.jpg'" th:text="'Sistemas Operacionais Modernos'"></option>
				 	<option th:value="'/img/livro/padrao.jpg'" th:text="'Sem imagem'"></option>
				</select>
				<input type="text" th:field="*{autor}" class="inputText" placeholder="Autor" maxlength="60">
				
				<label for="quantidade">ISBN:</label>
				<input type="number" th:field="*{isbn}" class="inputText" min="1000000000" max="9999999999">
				
				<input type="text" th:field="*{categoria}" class="inputText" placeholder="Categoria" maxlength="50">
				
				<label for="volume">Volume:</label>
				<input type="number" name="volume" th:field="*{volume}" class="inputText">
				
				<label for="quantidade">Quantidade:</label>
				<input type="number" name="quantidade" th:field="*{quantidade}" class="inputText">
				
				<textarea style="resize: vertical;" maxlength="500" rows = "1" cols = "1" th:field="*{resumo}" class="inputText" placeholder="Resumo"/>
				<span id="remaining" style="text-align:right;font-size:2vh;"></span>
				<span id="limit" style="text-align:right;font-size:2vh;">500 caracteres restante(s).</span>
				
				<input type="submit" class="mainbtn button1" value="Cadastre">
			</form>

			<a href="/bibliotecario/listarLivros"><button class="mainbtn button1">Lista Livros</button></a>
		</div>
		
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/assets/inputmask/jquery.inputmask.min.js}"></script>
		
		<script>
		    $('textarea').keyup(function(){
				
			    if (this.value.length === 0) {
			        $('#limit').show();
			        $('#remaining').hide();
			    }
			    else {
			        $('#limit').hide();
			        $('#remaining').show();
			    }
			    
			    if (this.value.length > 500){
			        return false;
			    }
			    
			    $("#remaining").html((500 - this.value.length) + " caracteres restante(s).");
			});
		</script>
	</body>
</html>