<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width">
		
		<title>Cadastro de Alunos</title>
		<link rel="stylesheet" type="text/css" href="/css/cadastro.css">
	</head>
	<body>
		<div class="wrapper">		
			<div class="cadastroTopo">
				<label class="titulo">Cadastro</label><br/>
				<label class="subtitulo">Insira as informações do novo usuário.</label><hr/>				
			</div>
			
			<form class="form" action="/bibliotecario/cadastrarAluno" method="post" th:object="${aluno}">
				<input type="hidden" th:field="*{idAluno}"/>
				<input type="text" th:field="*{nome}" class="inputText" placeholder="Nome Completo">
				<input type="text" th:field="*{email}" class="inputText" placeholder="Email">
				<input type="text" th:field="*{senha}" class="inputText" placeholder="Senha">
				<input type="text" th:field="*{telefone}" class="inputText" placeholder="Telefone">
				<input type="text" th:field="*{endereco}" class="inputText" placeholder="Endereço">
				<input type="text" th:field="*{cpf}" class="inputText" placeholder="CPF">
				
				<input type="submit" class="mainbtn button1" value="Cadastre">
			</form>

			<a href="/bibliotecario/listarAlunos"><button class="mainbtn button1">Lista Alunos</button></a>
		</div>
	</body>
</html>