<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width">
		
		<title>Cadastro de Bibliotecários</title>
		<link rel="stylesheet" type="text/css" href="/css/cadastro.css">
	</head>
	<body>
		<div class="wrapper">		
			<div class="cadastroTopo">
				<label class="titulo">Cadastro</label><br/>
				<label class="subtitulo">Insira as informações do novo bibliotecário.</label><hr/>				
			</div>
			
			<form class="form" action="/adm/cadastroBibliotecario" method="post" th:object="${bibliotecario}">
				<input type="hidden" th:field="*{idBibliotecario}"/>
				
				<div th:if="${#fields.hasErrors()}" class="erros">
					<span th:if="${#fields.hasErrors('nome')}">Nome inválido:</span>
					<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"/>
					<span th:if="${#fields.hasErrors('nome')}"><br/></span>
					
					<span th:if="${#fields.hasErrors('email')}">Email inválido:</span>
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
					<span th:if="${#fields.hasErrors('email')}"><br/></span>
					
					<span th:if="${#fields.hasErrors('senha')}">Senha inválida:</span>
					<span th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"/>
					<span th:if="${#fields.hasErrors('senha')}"><br/></span>
					
					<span th:if="${#fields.hasErrors('telefone')}">Telefone inválido:</span>
					<span th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"/>
					<span th:if="${#fields.hasErrors('telefone')}"><br/></span>
					
					<span th:if="${#fields.hasErrors('cpf')}">CPF inválido:</span>
					<span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"/>
					<span th:if="${#fields.hasErrors('cpf')}"><br/></span>
				</div>
				
				<input type="text" th:field="*{nome}" class="inputText" placeholder="Nome Completo">
				<input type="text" th:field="*{email}" class="inputText" placeholder="Email" data-inputmask="'alias': 'email'">
				<input type="text" th:field="*{senha}" class="inputText" placeholder="Senha">
				<input type="text" th:field="*{telefone}" class="inputText" placeholder="Telefone" data-inputmask="'mask': '(99) 9 9999 9999'">
				<input type="text" th:field="*{cpf}" class="inputText" placeholder="CPF" data-inputmask="'mask': '999.999.999-99'" >
				
				
				<input type="submit" class="mainbtn button1" value="Cadastre">
			</form>

			<a href="/adm/cadastroBibliotecario"><button class="mainbtn button1">Lista Bibliotecários</button></a>
		</div>
		
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/assets/inputmask/jquery.inputmask.min.js}"></script>
		
		<script>
		    $(":input").inputmask();
		</script>
	</body>
</html>