<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width">
		
		<title>Cadastro de Bibliotecários</title>
		<link rel="stylesheet" type="text/css" href="/css/cadastro.css">
	</head>
	<body>
		<div class="wrapper">		
			<div class="cadastroTopo">
				<label class="titulo">Cadastro</label><br/>
				<label class="subtitulo">Insira as informações do novo bibliotecário.</label><hr/>				
			</div>
			
			<form class="form" action="/adm/cadastroBibliotecario" method="post" th:object="${bibliotecario}">
				<input type="hidden" th:field="*{idBibliotecario}"/>
				<input type="text" autocomplete="off" th:field="*{nome}" class="inputText" placeholder="Nome Completo">
				<input type="text" data-inputmask="'alias': 'email'" autocomplete="off" th:field="*{email}" class="inputText" placeholder="Email">
				<input type="text" autocomplete="off" th:field="*{senha}" class="inputText" placeholder="Senha">
				<input type="text" data-inputmask="'mask': '(99) 9 9999 9999'" th:field="*{telefone}" class="inputText" placeholder="Telefone">
				<input type="text" data-inputmask="'mask': '999.999.999-99'" autocomplete="off" th:field="*{cpf}" class="inputText" placeholder="CPF">
				
				
				<input type="submit" class="mainbtn button1" value="Cadastre">
			</form>

			<a href="/adm/cadastroBibliotecario"><button class="mainbtn button1">Lista Bibliotecários</button></a>
		</div>
		
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/assets/inputmask/jquery.inputmask.min.js}"></script>
		
		<script>
		    $(":input").inputmask();
		</script>
	</body>
</html>