<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de bibliotecarios</title>
</head>
<body style="text-align: center">
	<h2>de bibliotecarios</h2>
	<form action="/adm/cadastrarBibliotecario" method="post"
		th:object="${bibliotecario}">

		<input type="hidden" th:field="*{idBibliotecario}" />
		<div>
			<label for="nome">Nome completo</label> <input type="text"
				th:field="*{nome}" />
		</div>
		<br> <br>
		<div>
			<label for="email">Email</label> <input type="text"
				th:field="*{email}" />
		</div>
		<br> <br>
		<div>
			<label for="senha">Senha</label> <input type="text"
				th:field="*{senha}" />
		</div>
		<br> <br>
		<div>
			<label for="telefone">telefone</label> <input type="number"
				th:field="*{telefone}" />
		</div>
		<br> <br>
		<div>
			<label for="cpf">CPF</label> <input type="text" th:field="*{cpf}" />
		</div>
		<br> <br>
		<div>
			<button type="submit">Cadastrar</button>
		</div>
		<br> <br>
	</form>
	<div style="text-align: center">
		<a href="/adm/listarBibliotecarios"><button>Ir p lista de
				bibliotecarios</button></a>
	</div>
</body>
</html>