<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>LiberSoft</title>
		
		<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/css/home.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="left-navbar">
				<img src="/img/libersoft_logo_blue.svg" class="logo"/>
				
				<hr/>
				
				<a href="/bibliotecario/home" class="menuItem">
				<img src="/img/pagina_inicial.svg" class="iconeItem"/> Página Inicial</a>
				
				<p class="menuItem menuSubtitulo">Bibliotecário</p>
				
				<a href="listarLivros" class="menuItem">
				<img src="/img/livros.svg" class="iconeItem"/> Livros</a>
				<a href="/bibliotecario/listarAlunos" class="menuItem">
				<img src="/img/avatar_padrao.svg" class="iconeItem"/> Alunos</a>
				<a href="/bibliotecario/listarEmprestimos" class="menuItem">
				<img src="/img/loan.png" class="iconeItem"/> Empréstimos</a>
				
				<p class="menuItem menuSubtitulo">Você</p>
				
				<a href="/sair" class="menuItem">
				<img src="/img/sair.svg" class="iconeItem"/> Sair</a> 
			</div>
			
			<div class="content">
				
				<div class="recomendacoes">
					<p>Recomendações</p>
					<div class="livros">
						<div class="estruturaLivro">
							<a href="https://google.com/" target="_blank">
								<img src="/img/livro/sistemas_operacionais_andrew_tenembaum.jpg" class="livro">
								<span id="tituloLivro1" class="tituloLivro">Sistemas Operacionais Modernos - 2ª Edição</span>
								<br/>
								<span id="autorLivro1" class="autorLivro">Andrew S. Tenembaum</span>
							</a>
						</div>
						
						<div class="estruturaLivro">
							<a href="https://google.com/" target="_blank">
								<img src="/img/livro/codigo_limpo.jpg" class="livro">
								<span id="tituloLivro2" class="tituloLivro">Código Limpo</span>
								<br/>
								<span id="autorLivro2" class="autorLivro">Robert C. Martin</span>
							</a>
						</div>
						
						<div class="estruturaLivro">
							<a href="https://google.com/" target="_blank">
								<img src="/img/livro/sistemas_operacionais_andrew_tenembaum.jpg" class="livro">
								<span id="tituloLivro3" class="tituloLivro">Sistemas Operacionais Modernos - 2ª Edição</span>
								<br/>
								<span id="autorLivro3" class="autorLivro">Andrew S. Tenembaum</span>
							</a>
						</div>
						
						<div class="estruturaLivro">
							<a href="https://google.com/" target="_blank">
								<img src="/img/livro/codigo_limpo.jpg" class="livro">
								<span id="tituloLivro4" class="tituloLivro">Código Limpo</span>
								<br/>
								<span id="autorLivro4" class="autorLivro">Robert C. Martin</span>
							</a>
						</div>
						
						<div class="estruturaLivro">
							<a href="https://google.com/" target="_blank">
								<img src="/img/livro/sistemas_operacionais_andrew_tenembaum.jpg" class="livro">
								<span id="tituloLivro5" class="tituloLivro">Sistemas Operacionais Modernos - 2ª Edição</span>
								<br/>
								<span id="autorLivro5" class="autorLivro">Andrew S. Tenembaum</span>
							</a>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</body >
</html>