<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Alunos</title>
		
		<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/css/livros.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="left-navbar">
				<img src="/img/libersoft_logo_blue.svg" class="logo"/>
				
				<hr/>
				
				<a href="/bibliotecario/home" class="menuItem">
				<img src="/img/pagina_inicial.svg" class="iconeItem"/> Página Inicial</a>
				
				<p class="menuItem menuSubtitulo">Administração</p>
				
				<a href="/adm/listarBibliotecarios" class="menuItem">
				<img src="/img/avatar_padrao.svg" class="iconeItem" /> Bibliotecários</a>
				
				<p class="menuItem menuSubtitulo">Você</p>
				
				<a href="/sair" class="menuItem">
				<img src="/img/sair.svg" class="iconeItem"/> Sair</a> 
			</div>
			
			<div class="content">
				<div class="barraDePesquisa">
					<input type="search" name="q" class="inputSearch" placeholder="Procurar por livros...">
					<button class="mainbtn button2">Pesquisar</button>
				</div>
				
				<div class="estruturaPrincipal">
					<p>
					Alunos
					<a href="/adm/listarAlunos"><button class="sidebtn goldbtn p07vh">Inserir novo aluno</button ></a>
					</p>
					
					<table class="table" border rules=rows style="height: 100%; width: 100%;" border:"1">
						<colgroup>
							<col style="width: auto;">
							<col style="width: auto;">
							<col style="width: auto;">
							<col style="width: auto;">
							<col style="width: auto;">
							<col style="width: auto;">
						</colgroup>
				
						<tr align="center">
							<th id="letra" scope="row">Nome</th>
							<th id="letra">Email</th>
							<th id="letra">Telefone</th>
							<th id="letra">Endereço</th>
							<th id="letra">CPF</th>
						</tr>
				
				
						<tr th:each="alun : ${alunos}">
							<td th:text="${alun.nome}" class="valor"></td>
							<td th:text="${alun.email}" class="valor"></td>
							<td th:text="${alun.telefone}" class="valor"></td>
							<td th:text="${alun.endereco}" class="valor"></td>
							<td th:text="${alun.cpf}" class="valor"></td>
							<td style="border-left: thin solid white; height: auto;">
								<a th:href="@{/bibliotecario/editarAluno(idAluno=${alun.idAluno})}"><button class="sidebtn colbtn goldbtn p07vh" >Editar</button ></a>&nbsp;&nbsp;
								<a th:href="@{/bibliotecario/excluirAluno(idAluno=${alun.idAluno})}"><button class="sidebtn colbtn redbtn p07vh" >Remover</button > </a>
							</td >
						</tr>
					</table >
					
				</div>
			</div>
		</div>
	</body >
</html>