<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listar alunos</title>
<link rel="stylesheet" type="text/css" href="style.min.css" />
</head>
<body>
<h2>Todos os alunos cadastrados</h2>
	<table style="height: 100%;width: 100%" border="1">
		<tr align="center">
			<th scope="row">&nbsp;Nome&nbsp;</th>
			<th>&nbsp;Email&nbsp;</th>
			<th>&nbsp;Telefone&nbsp;</th>
			<th>&nbsp;Endereço&nbsp;</th>
			<th>&nbsp;Opções&nbsp;</th>
		</tr>
		<tr th:each="alun : ${alunos}">
			<td th:text="${alun.nome}"></td>
			<td th:text="${alun.email}"></td>
			<td th:text="${alun.telefone}"></td>
			<td th:text="${alun.endereco}"></td>
			<td>
				<a th:href="@{/bibliotecario/editarAluno(idAluno=${alun.idAluno})}"><button >Editar</button></a>&nbsp;&nbsp;
				<a th:href="@{/bibliotecario/excluirAluno(idAluno=${alun.idAluno})}"><button >Remover</button> </a>
			</td>
		</tr>
	</table>
	<hr>
	<div style="text-align: center">
		<a href="/index"><button>Voltar</button></a>
	</div>
		<div style="text-align: center">
		<a href="/bibliotecario/cadastroAluno"><button>Inserir novo aluno</button></a>
	</div>
</body>
</html>