<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Livros</title>
		
		<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/css/livros.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="left-navbar">
				<img src="/img/libersoft_logo_blue.svg" class="logo"/>
				
				<hr/>
				
				<a href="/bibliotecario/home" class="menuItem">
				<img src="/img/pagina_inicial.svg" class="iconeItem"/> Página Inicial</a>
				
				<p class="menuItem menuSubtitulo">Bibliotecário</p>
				
				<a href="listarLivros" class="menuItem">
				<img src="/img/livros.svg" class="iconeItem"/> Livros</a>
				<a href="/bibliotecario/listarAlunos" class="menuItem">
				<img src="/img/avatar_padrao.svg" class="iconeItem"/> Alunos</a>
				<a href="" class="menuItem">
				<img src="/img/loan.png" class="iconeItem"/> Emprestimo</a>
				
				<p class="menuItem menuSubtitulo">Você</p>
				
				<a href="meuPerfil.html" class="menuItem">
				<img src="/img/avatar_padrao.svg" class="iconeItem"/> Meu Perfil</a>
				<a href="/login" class="menuItem">
				<img src="/img/sair.svg" class="iconeItem"/> Sair</a> 
			</div>
			
			<div class="content">
				<div class="barraDePesquisa">
					<input type="search" name="q" class="inputSearch" placeholder="Procurar por livros...">
					<button class="mainbtn button2">Pesquisar</button>
				</div>
				
				<div class="estruturaPrincipal">
					<p>
					Livros
					<a href="/bibliotecario/cadastroLivro"><button class="sidebtn goldbtn p07vh">Inserir novo livro</button ></a>
					</p>
					<div class="livros">
						<div th:each="livr : ${livros}" class="estruturaLivro">
							<div class="livroPlaceholder">
								<img th:src="${livr.imagem}" class="livro"/>
							</div>
							<div class="informacoes">
								<div class="parteSuperior">
									<p class="tituloLivro" th:text="|${livr.titulo} - Volume: ${livr.volume}|"/>
									<p class="subtituloLivro" th:text="|${livr.autor} - ${livr.categoria}|"/>
									<p class="descricaoLivro" th:text="${livr.resumo}"/>
								</div>
								<div class="parteInferior">
									<p class="quantidadeLivro" th:text="|Quantidade disponível: ${livr.quantidade} · ISBN: ${livr.isbn}|"/>
									<a th:href="@{/bibliotecario/editarLivro(idLivro=${livr.idLivro})}"><button class="sidebtn goldbtn p07vh">Editar</button> </a>
									<a th:href="@{/bibliotecario/excluirLivro(idLivro=${livr.idLivro})}"><button class="sidebtn redbtn p07vh">Remover</button> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body >
</html>