<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>LiberSoft</title>
		
		<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/css/livros.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="left-navbar">
				<img src="/img/libersoft_logo_blue.svg" class="logo"/>
				
				<hr/>
				
				<a href="/aluno/home" class="menuItem">
				<img src="/img/pagina_inicial.svg" class="iconeItem"/> Página Inicial</a>
				
				<p class="menuItem menuSubtitulo">Aluno</p>
				
				<a href="livros" class="menuItem">
				<img src="/img/livros.svg" class="iconeItem"/> Livros</a>
				<a href="" class="menuItem">
				<img src="/img/livros.svg" class="iconeItem"/> Meus livros</a>
				
				<p class="menuItem menuSubtitulo">Você</p>
				
				<a href="/sair" class="menuItem">
				<img src="/img/sair.svg" class="iconeItem"/> Sair</a> 
			</div>
			
			<div class="content">
				
				<div class="estruturaPrincipal">
					<p>
					Livros
					</p>
					<div class="livros">
						<div th:each="livr : ${livros}" class="estruturaLivro">
							<div class="livroPlaceholder">
								<img th:src="${livr.imagem}" class="livro"/>
							</div>
							<div class="informacoes">
								<div class="parteSuperior">
									<p class="tituloLivro" th:text="|${livr.titulo} - Volume: ${livr.volume}|"/>
									<p class="subtituloLivro" th:text="|${livr.autor} - ${livr.categoria}|"/>
									<p class="descricaoLivro" th:text="${livr.resumo}"/>
								</div>
								<div class="parteInferior">
									<p class="quantidadeLivro" th:text="|Quantidade disponível: ${livr.quantidade} · ISBN: ${livr.isbn}|"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body >
</html>