<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width">
		
		<title>Libersoft</title>
		
		<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/cadastro.css">
	</head>
	<body>
		<div class="wrapper">		
			<div class="cadastroTopo">
				<label class="titulo">Entrar</label><br/>
				<label class="subtitulo">Insira seu CPF e senha para entrar.</label><hr/>				
			</div>
			
			<form class="form" action="/loginAluno" method="post" th:object="${aluno}">				
				<div class="erros" th:text="${mensagem}" th:if="${mensagem != null}"></div>
				
				<input type="text" name="cpf" class="inputText" placeholder="CPF" data-inputmask="'mask': '999.999.999-99'" required>
				<input type="password" name="senha" class="inputText" placeholder="Senha" required>
				
				<input type="submit" class="mainbtn button1" value="Entrar">
			</form>
			<a href="/loginBibliotecario"><button class="mainbtn button2">Entrar como Bibliotecário</button></a>
		</div>
		
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/assets/inputmask/jquery.inputmask.min.js}"></script>
		
		<script>
		    $(":input").inputmask();
		</script>
	</body>
</html>