<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width">
		
		<title>LiberSoft - Administração</title>
		
		<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="/css/login.css">
	</head>
	<body>
		<div class = "wrapper">
			<div class = "infobox">
				<img src="/img/libersoft_logo.svg" class="logo"/>
				<br>
				<label class="descricao">A LiberSoft é uma plataforma para bibliotecas para gerenciar empréstimos de livros físicos. Aqui você pode consultar os livros disponíveis para empréstimo e a situação dos livros emprestados.</label>
			</div>
			
			<div class="cadastro">	
				<div class="cadastroTopo">
					<label class="titulo">Entrar</label><br/>
					<label class="subtitulo">Insira o código de acesso e senha para entrar.</label><hr/>				
				</div>
				
				<form class="form" action="/loginAdm" method="post">				
					<div class="erros" th:text="${mensagem}" th:if="${mensagem != null}"></div>
					<br>
					<input type="text" name="codigoDeAcesso" class="inputText" placeholder="Código de acesso" required>
					<input type="password" name="senha" class="inputText" placeholder="Senha" required>
					
					<input type="submit" class="mainbtn button1" value="Entrar">
				</form>
				<hr>
				<a href="/"><button class="mainbtn button2">Voltar</button></a>
			</div>
			
			<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
			<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
			<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
			<script th:src="@{/assets/inputmask/jquery.inputmask.min.js}"></script>
			
			<script>
			    $(":input").inputmask();
			</script>
		</div>
	</body>
</html>