<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Home</title>

	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
	<link rel="stylesheet" href="/css/home.css">
</head>

<body>
	<div class="wrapper">
		<div class="left-navbar">
			<img src="/img/libersoft_logo_blue.svg" class="logo" />

			<hr />

			<a href="/aluno/home" class="menuItem">
				<img src="/img/pagina_inicial.svg" class="iconeItem" /> Página Inicial</a>

			<p class="menuItem menuSubtitulo">Aluno</p>

			<a href="" class="menuItem">
				<img src="/img/livros.svg" class="iconeItem" /> Livros</a>
			<a href="" class="menuItem">
				<img src="/img/livros.svg" class="iconeItem" /> Meus livros</a>

			<p class="menuItem menuSubtitulo">Você</p>

			<a href="/sair" class="menuItem">
				<img src="/img/sair.svg" class="iconeItem" /> Sair</a>
		</div>

		<div class="content">
			<h1 style= "text-align: center;">Meus Dados</h1>
			<form>
			<div class="col-sm-6">
			
				<label for="nome" class="col-4 col-form-label">Nome</label>
				<div class="perfil"></div>
				<!---<p th:text="${aluno.nome}"></p>-->
				<label for="email" class="col-4 col-form-label">Email</label>
				<div class="perfil"></div>
				<!--<p th:text="${aluno.email}"></p>-->
				<label for="telefone" class="col-4 col-form-label">Telefone</label>
				<div class="perfil"></div>
				<!--<p th:text="${aluno.telefone}"></p>-->
				<label for="text" class="col-4 col-form-label">Endereço</label>
				<div class="perfil"></div>
				<!--<p th:text="${aluno.endereco}"></p>-->


			</div>
			</form>
		</div>
</body>

</html>